<mat-card>
  <mat-card-content>
    <mat-list class="list">
      <mat-list-item *ngFor="let comment of comments; index as i">
        <mat-icon mat-list-icon class="icon" color="primary">comment</mat-icon>
        {{ comment.content }}
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <app-comment-add
      [recipeId]="recipeId"
      *ngIf="isCommentAddFormOpened"
      (addCommentEvent)="addComment($event)"
    ></app-comment-add>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button (click)="openCommentAddForm()" mat-raised-button color="primary">
      Dodaj komentarz
    </button>
  </mat-card-actions>
</mat-card>
