<div class="grid-container">
  <div class="grid-item" *ngFor="let recipe of recipes; index as i">
    <a mat-list-item routerLink="{{ recipe.id }}">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{ recipe.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ recipe.image }}" alt="{{ recipe.title }}" />
        <mat-card-content>
          <p>
            {{ recipe.method }}
          </p>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>
