.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.card {
  width: 100%;
  max-width: 450px;
  padding: 60px 40px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.field {
  width: 100%;
  display: "block";
  padding-bottom: 10px;
}
