/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid-item {
  padding: 16px;

  &__colspan {
    &-4 {
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 680px) {
  .grid-container {
    grid-template-columns: 100%;
  }
}
